﻿@inherits LayoutComponentBase

<Layout Style="min-height: 100vh;">
    <Sider Collapsible Collapsed=@_collapsed OnCollapse=@OnCollapse Width="250">
        <a href="/">
            <div class="logo"></div>
        </a>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
            <MenuItem Key="courses" RouterLink="/courses/">
                <Icon Type="file-add" Theme="outline"/>
                <span>Курсы</span>
            </MenuItem>

            <MenuItem Key="students" RouterLink="/students/">
                <Icon Type="file-add" Theme="outline"/>
                <span>Студенты</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Content Class="site-layout-background" Style="padding: 24px; margin: 0; min-height: 280px;">
        @Body
    </Content>
</Layout>


@code {
    bool _collapsed;

    void OnCollapse(bool collapsed)
    {
        _collapsed = collapsed;
    }


}