@using Quirco.Cqrs.Blazor.Navigation;

@if (Title != null)
{
    <PageTitle>@Title</PageTitle>
}

@if (string.IsNullOrEmpty(Permission))
{
    <PageHeader Ghost="false"
                OnBack="@OnBackAsync"
                PageHeaderTags="@Tags"
                PageHeaderExtra="@HeaderExtra">
        <PageHeaderTitle>@Title</PageHeaderTitle>
    </PageHeader>
    <Content Class="edit-page-content">
        @ChildContent
    </Content>
}
else
{
    <AuthorizeView Policy=@Permission>
        <Authorized>
            <PageHeader Ghost="false"
                        OnBack="@OnBackAsync"
                        PageHeaderTags="@Tags"
                        PageHeaderExtra="@HeaderExtra">
                <PageHeaderTitle>@Title</PageHeaderTitle>
            </PageHeader>
            <Content Class="edit-page-content">
                @ChildContent
            </Content>
        </Authorized>
        <NotAuthorized>
            Отказано в доступе.
        </NotAuthorized>
    </AuthorizeView>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string? GoBackRoute { get; set; }

    [Parameter]
    public RenderFragment SubTitle { get; set; }

    [Parameter]
    public RenderFragment Tags { get; set; }

    [Parameter]
    public RenderFragment HeaderExtra { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Permission { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public NavigationHistoryManager? NavigationHistoryManager { get; set; }

    [CascadingParameter(Name = "PageType")]
    public Type? PageType { get; set; }

    private async Task OnBackAsync()
    {
        if (NavigationHistoryManager != null && await NavigationHistoryManager.CanGoBack())
        {
            var prevPage = await NavigationHistoryManager.GetPreviousPage();
            NavigationManager.NavigateTo(prevPage.Url);
        }
        else
        {
            NavigationManager.NavigateTo(GoBackRoute ?? NavigationManager.BaseUri);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (PageType != null && NavigationHistoryManager != null)
        {
            await NavigationHistoryManager.AddPageToHistory(new NavigationHistoryRecord(PageType.FullName!, NavigationManager.Uri));
        }
    }

}