@using Quirco.Cqrs.Blazor.Navigation;
@inject NavigationManager NavigationManager

@if (Title != null)
{
    <PageTitle>@Title</PageTitle>
}

<ListAuthorizeView Policy=@ListPermission>
    <Authorized Context="ctx">
        <PageHeader Ghost="false">
            <PageHeaderTitle>@Title</PageHeaderTitle>
            <PageHeaderExtra>
                @if (!string.IsNullOrEmpty(NewItemUrl))
                {
                    <AuthorizeView Policy="@AddPermission">
                        <Authorized>
                            @if (!string.IsNullOrEmpty(NewItemUrl))
                            {
                                <Button OnClick="AddItem" Style="margin-top:16px" Icon="plus">
                                    Создать
                                </Button>
                            }
                        </Authorized>
                    </AuthorizeView>
                }
                @PageHeaderExtraContent
            </PageHeaderExtra>
            <PageHeaderContent>
                @if (OnSearch.HasDelegate)
                {
                    <SearchExtended Placeholder="Введите поисковый запрос" OnSearch="@OnSearch" Size="@InputSize.Large" EnterButton="@("Найти")" @bind-Value="@Query" OnChange="QueryChanged"/>
                    @if (PageSearchExtraContent != default)
                    {
                        <Space Style="margin-top: 8px;">
                            <SpaceItem>
                                @PageSearchExtraContent
                            </SpaceItem>
                            @if (OnClearFilter.HasDelegate)
                            {
                                <SpaceItem>
                                    <Button Type="@ButtonType.Dashed"
                                            OnClick="@OnClearFilter"
                                            Shape="@ButtonShape.Round"
                                            Icon="@IconType.Outline.CloseCircle">
                                        Сбросить фильтры
                                    </Button>
                                </SpaceItem>
                            }
                        </Space>
                    }
                }
            </PageHeaderContent>
        </PageHeader>
        <Content Class="list-page-content">
            @ChildContent
        </Content>
    </Authorized>
    <NotAuthorized>
        <Result Status="403"
                Title="403"
                SubTitle="У вас недостаточно прав для доступа к данному ресурсу" />
    </NotAuthorized>
</ListAuthorizeView>

@code {

    [Parameter]
    public string? Query { get; set; }

    [Parameter]
    public EventCallback<string> QueryChanged { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? PageHeaderExtraContent { get; set; }

    [Parameter]
    public RenderFragment? PageSearchExtraContent { get; set; }

    [Parameter]
    public string? NewItemUrl { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    [Parameter]
    public EventCallback OnClearFilter { get; set; }

    [Parameter]
    public string? ListPermission { get; set; }

    [Parameter]
    public string? AddPermission { get; set; }

    [CascadingParameter(Name = "PageType")]
    public Type? PageType { get; set; }

    [Inject]
    public NavigationHistoryManager? NavigationHistoryManager { get; set; }

    private void AddItem()
    {
        if (string.IsNullOrEmpty(NewItemUrl))
            throw new InvalidOperationException("You need to specify NewItemUrl as navigation target for creation form");
        NavigationManager.NavigateTo(NewItemUrl);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (PageType != null && NavigationHistoryManager != null)
        {
            await NavigationHistoryManager.AddPageToHistory(new NavigationHistoryRecord(PageType.FullName!, NavigationManager.Uri));
        }
    }

}