@page "/courses/{Id:int}"
@using Quirco.Cqrs.Demo.Domain.Courses
@using Quirco.Cqrs.Domain.Commands
@using Quirco.Cqrs.Domain.Queries
@using Quirco.Cqrs.Blazor.Edit
@using Microsoft.AspNetCore.Components
@using Quirco.Cqrs.Auditor.Core.Models
@using Quirco.Cqrs.Auditor.DataAccess
@using Quirco.Cqrs.Core.Models
@using Quirco.Cqrs.Demo.DataAccess.Models
@inject IAuditEventsRepository AuditEventsRepository
@inherits Quirco.Cqrs.Blazor.Edit.BaseEditComponent<Quirco.Cqrs.Demo.Domain.Courses.GetCourseById.DetailedModel, Quirco.Cqrs.Demo.Domain.Courses.CreateUpdateCourse.Model>

<EditPageBase Title="@(Model?.Name ?? "Новый курс")"
              GoBackRoute="@SuccessUrl">
    <Tabs>
        <Skeleton Loading="IsLoading || Model == null">
            <TabPane Tab="Общие параметры">
                <Form TModel="CreateUpdateCourse.Model"
                      Model="@Model"
                      LabelColSpan="4"
                      WrapperColSpan="12"
                      OnFinish="OnSave"
                      OnFinishFailed="OnFinishFailed">
                    <ChildContent>
                        <FormItem Label="Имя">
                            <InputExtended @bind-Value="@context.Name"/>
                        </FormItem>

                        <FormItem WrapperColOffset="6" WrapperColSpan="10">
                            <Button HtmlType="submit" Type="primary">
                                @(Id == 0
                                    ? "Создать"
                                    : "Сохранить")
                            </Button>
                            <Popconfirm Placement="@Placement.TopLeft"
                                        Title=@($"Вы уверены что хотите удалить курс \"{Model.Name}\"?")
                                        OkText="Удалить"
                                        CancelText="Отмена"
                                        OnConfirm="@(() => OnDelete<Course>())">
                                <Button Danger Type="dashed">Удалить</Button>
                            </Popconfirm>
                        </FormItem>
                    </ChildContent>
                </Form>
            </TabPane>
            @if (Id > 0)
            {
                <TabPane Tab="Аудит">
                    @if (AuditEvents is null)
                    {
                        <Empty></Empty>
                    }
                    else
                    {
                        <Table TItem="AuditEventModel" DataSource="AuditEvents?.Results">
                            <Column @bind-Field="@context.Id"></Column>
                            <Column @bind-Field="@context.IpAddress"></Column>
                            <Column @bind-Field="@context.UserId"></Column>
                            <Column @bind-Field="@context.UserName"></Column>
                            <Column @bind-Field="@context.DateTime"></Column>
                            <Column @bind-Field="@context.EventType"></Column>
                            <Column @bind-Field="@context.CorrelationId"></Column>
                            <Column @bind-Field="@context.EntityType"></Column>
                            <Column @bind-Field="@context.EntityId"></Column>
                            <Column @bind-Field="@context.InnerEntityType"></Column>
                            <Column @bind-Field="@context.InnerEntityId"></Column>
                            <Column @bind-Field="@context.Message"></Column>
                            <Column @bind-Field="@context.Parameter"></Column>
                            <Column @bind-Field="@context.OldValue"></Column>
                            <Column @bind-Field="@context.NewValue"></Column>
                            <Column @bind-Field="@context.OldValueReadable"></Column>
                            <Column @bind-Field="@context.NewValueReadable"></Column>
                        </Table>
                    }
                </TabPane>
            }
        </Skeleton>
    </Tabs>
</EditPageBase>

<style>
    .ant-transfer-list {
        width: 490px;
        height: 420px;
    }
</style>

@code {

    public PagedResponse<AuditEventModel> AuditEvents { get; set; }

    public override string SuccessUrl => "/courses";

    public override string EntityName => "Курс";

    public override string EditPermission => null;

    public override string AddPermission => null;

    public override string OpenPermission => null;

    protected override GetEntityByIdQuery<GetCourseById.DetailedModel> BuildGetQuery(int id)
    {
        return new GetCourseById.Query(id);
    }

    protected override CreateUpdateCommand<CreateUpdateCourse.Model> BuildCreateUpdateCommand()
    {
        return new CreateUpdateCourse.Command(Id, Model);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AuditEvents = await AuditEventsRepository.GetForEntity<Course, int>(Id, new AuditEventFilter
        {
            Limit = null
        }, CancellationToken.None);
    }

}