﻿@page "/courses/"
@using Quirco.Cqrs.Demo.Domain.Courses
@using AntDesign.TableModels
@inherits Quirco.Cqrs.Blazor.List.BaseListComponent<Quirco.Cqrs.Demo.Domain.Courses.SearchCourses.Model, Quirco.Cqrs.Demo.DataAccess.Models.Course, Quirco.Cqrs.Demo.Domain.Courses.SearchCourses.Query>

<ListPageBase Title="Курсы"
              OnSearch="Reload"
              OnClearFilter="ClearFilter"
              @bind-Query="@Query">
    <PageHeaderExtraContent>
        <Button OnClick="@(() => NavigationManager.NavigateTo("/courses/0"))">Создать</Button>
    </PageHeaderExtraContent>
    <PageSearchExtraContent>
        <Space>
            <SpaceItem>
                <AntDesign.InputNumber @bind-Value="@Filter.SomeParameterThatShouldBeAlwaysOne"></AntDesign.InputNumber>
            </SpaceItem>
            <SpaceItem>
                <AntDesign.InputNumber @bind-Value="@Filter.SomeChangeableParameterWithDefaultTwo"></AntDesign.InputNumber>
            </SpaceItem>
        </Space>
    </PageSearchExtraContent>
    <ChildContent>
        <Table
            TItem="SearchCourses.Model"
            DataSource="Items?.Results"
            Loading="IsLoading"
            PageSize="PageSize"
            PageIndex="PageIndex"
            Total="Total"
            Bordered
            OnPageIndexChange="PageChanged"
            PageSizeChanged="PageSizeChanged"
            OnRowClick="OnRowClick">
            <Column @bind-Field="@context.Id"></Column>
            <Column @bind-Field="@context.Name"></Column>
            <Column @bind-Field="@context.StudentsCount"></Column>
        </Table>
    </ChildContent>
</ListPageBase>

@code {

    protected override Task OnAfterFilterRestoredAsync(SearchCourses.Query filter)
    {
        filter.SomeParameterThatShouldBeAlwaysOne = 1;
        return base.OnAfterFilterRestoredAsync(filter);
    }

    protected override Task InitializeFilterWithDefaultParameters(SearchCourses.Query filter)
    {
        filter.SomeChangeableParameterWithDefaultTwo = 2;
        return base.InitializeFilterWithDefaultParameters(filter);
    }

    private void OnRowClick(RowData<SearchCourses.Model> row)
    {
        NavigationManager.NavigateTo($"/courses/{row.Data.Id}");
    }

}