@typeparam TItem
@typeparam TItemId
@typeparam TItemValue
@typeparam TQuery
@inherits AntInputComponentBase<TItemValue>

<Select @ref="_selectComponent"
        name="@DomName"
        TItem="TItem"
        TItemValue="TItemValue"
        ItemTemplate="ItemTemplate"
        LabelTemplate="LabelTemplate"
        EnableSearch="@EnableSearch"
        Placeholder="@Placeholder"
        Disabled="@Disabled"
        AllowClear="@AllowClear"
        OnDropdownVisibleChange="@OnDropdownVisibleChange"
        DefaultActiveFirstOption="@DefaultActiveFirstOption"
        DropdownMatchSelectWidth="@DropdownMatchSelectWidth"
        DataSource="Items"
        OnSearch="OnSearch"
        SearchDebounceMilliseconds="@AntDesignConfiguration.InputDebounceMilliseconds"
        OnSelectedItemChanged="OnSelectedItemChanged"
        OnSelectedItemsChanged="@(items => OnSelectedItemsChanged?.Invoke(items.ToArray()))"
        Mode="@Mode.ToString()"
        ValueName="@ValueName"
        LabelName="@LabelName"
        Loading="@IsLoading"
        OnFocus="OnFocus"
        @bind-Value="Value"
        Values="Values"
        ValuesChanged="values => Values = values?.ToArray()"
        Style="width: 100%">
</Select>

<style>

    div.ant-select-selection-search {
        min-width: 200px;
    }

</style>