﻿@page "/students/"
@using Quirco.Cqrs.Demo.Domain.Courses
@using AntDesign.Select.Internal
@using Quirco.Cqrs.Blazor.MediatR
@inherits Quirco.Cqrs.Blazor.List.BaseListComponent<Quirco.Cqrs.Demo.Domain.Courses.SearchStudents.Model, Quirco.Cqrs.Demo.DataAccess.Models.Student, Quirco.Cqrs.Demo.Domain.Courses.SearchStudents.Query>

<ListPageBase Title="Студенты"
              OnSearch="Reload"
              OnClearFilter="ClearFilter"
              @bind-Query="@Query">
    <PageSearchExtraContent>
        <Space>
            <SpaceItem Style="min-width: 200px;">
                <QuerySelect TQuery="SearchCourses.Query"
                             TItem="SearchCourses.Model"
                             TItemValue="int"
                             Mode="@SelectMode.Multiple"
                             InitialValues="@Courses"
                             LabelName="@nameof(SearchCourses.Model.Name)"
                             @bind-Values="@Filter.CourseIds">
                </QuerySelect>
            </SpaceItem>
            <SpaceItem Style="min-width: 200px;">
                <QuerySelect TQuery="SearchStudents.Query"
                             TItem="SearchStudents.Model"
                             TItemValue="int"
                             Mode="@SelectMode.Multiple"
                             Disabled="@(Filter.CourseIds?.Any() != true)"
                             DependsOn="@Filter.CourseIds"
                             QueryModifier="@(query => query.CourseIds = Filter.CourseIds)"
                             LabelName="@nameof(SearchStudents.Model.Name)">
                </QuerySelect>
            </SpaceItem>
            <SpaceItem>
                <DateOnlyPicker @bind-Value="@Filter.ApplicationDateFrom"></DateOnlyPicker>
            </SpaceItem>
            <SpaceItem>
                <DateRangePicker ></DateRangePicker>
            </SpaceItem>
            <SpaceItem>
                <DateRangeInfinitePicker ></DateRangeInfinitePicker>
            </SpaceItem>
        </Space>
    </PageSearchExtraContent>
    <ChildContent>
        <Table
            TItem="SearchStudents.Model"
            DataSource="Items?.Results"
            Loading="IsLoading"
            PageSize="PageSize"
            PageIndex="PageIndex"
            Total="Total"
            Bordered
            OnChange="OnTableChange"
            OnPageIndexChange="PageChanged"
            PageSizeChanged="PageSizeChanged">
            <Column @bind-Field="@context.Id" Sortable></Column>
            <Column @bind-Field="@context.Name" Sortable></Column>
            <Column @bind-Field="@context.ApplicationDate"></Column>
            <Column @bind-Field="@context.Course">
                @context.Course?.Name
            </Column>
            <Column @bind-Field="@context.UserCreatedId"></Column>
        </Table>
    </ChildContent>
</ListPageBase>

@code {

    [Inject]
    public IScopedMediator Mediator { get; set; }

    public SearchCourses.Model[] Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Courses = (await Mediator.Send(new SearchCourses.Query
        {
            Ids = new[] { 1 }
        })).Results;
    }

    protected override Task OnParametersSetAsync()
    {
        PageSize = 5;
        return base.OnParametersSetAsync();
    }

    protected override Task InitializeFilterWithDefaultParameters(SearchStudents.Query filter)
    {
        filter.CourseIds = new[] { 1 };
        return base.InitializeFilterWithDefaultParameters(filter);
    }

}